{% extends 'base.html'%} {% load bootstrap3 %} {% load static %} {{block.super}} {% block content %}<br>
<div class="container-fluid" id="coverphoto">
  <form action="{% url 'search_results' %}">
    <div class="input-group">
      <input type="text" autocorrect="off" id="search" name="motors" data-test="search-input-input" placeholder="Search for a jeep" tabindex="3" value="">
    </div>
  </form>
</div>
<div class="container" id="landing">

  <hr> {% for category_item in category %}
  <div id="cherokee" class="container">
    <h3><strong><i>{{category_item.name}}</i></strong></h3>
    <h4>{{category_item.description}}</h4>
    <a href="{% url 'index' %}"></a>
    <span><img src="{{category_item.image.url}}" alt="image" width="245" height="390"class="img-responsive">
    <button type="button" class="btn btn-outline-danger"><a href="{% url 'vehicles' category_item.id %}">More Details <span>&#8594;</span></a>
    </button>
  </div> <br>
  <hr> {% empty %}
  <div class="row">
    <h2 class="text-center">There are no images</h2>
  </div>
  {% endfor %}
</div>

<!-- footer -->
<div class="footer">
  <br>
  <span class="copy-right"> ©2017 Mweru Muchai Autos</span>
</div>

{% endblock %}