{%extends 'base.html'%} {% block content %}

<div class="container">
  <div class="row text-left">
    <h2><strong>Autos images</strong></h2><br>
  </div>
</div>
<hr>

<div class="container">
  <div class="col-md-12">
    <div class="photo-div">{% for vehicle in searched_vehicles %}
      <h2> {{ vehicle.name}}</h2> <br>
      <a href="/"><img src="{{vehicle.image.url}}" class="img-responsive" alt="Image"></a>
      <h4>{{vehicle.description}}</h4>
      <hr> {% empty %}
      <div class="row">
        <h2 class="text-center">There are no images</h2>
      </div>
      {% endfor %}
    </div>

  </div>
</div>

{% endblock %}